<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row"><h2>Curve Point List</h2></div>
    <div class="row">
        <a class="btn btn-primary btn-sm" href="/curvePoint/add">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>CurvePointId</th>
                <th>Term</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- Show all CurvePoint to the table, the action column will have Edit & Delete buttons -->
            <tr th:each="curve: ${curvePoints}">
                <td><span th:text="${curve.getCurveId()}"> Id </span></td>
                <td><span th:text="${curve.getIdCurve()}"> CurvePointId </span></td>
                <td><span th:text="${curve.getTerm()}"> Term </span></td>
                <td><span th:text="${curve.getValue()}"> Value </span></td>
                <!-- the Action column will have Edit & Delete buttons -->
                <td class="text-center" style="width: 15%">
                    <a th:href="@{/curvePoint/update/{id}(id=${curve.getCurveId()})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/curvePoint/delete/{id}(id=${curve.getCurveId()})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>