<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <h2>Update CurvePoint</h2>
    </div>

    <div class="row">
        <form action="#" class="form-horizontal" method="post"
              style="width: 100%" th:action="@{/curvePoint/update/{id}(id=${curvePoint.curveId})}"
              th:object="${curvePoint}">
            <!--
             Create a form to edit the values of CurvePoint, there are 2 buttons: Update data and Cancel to the Curve Point
             -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="idCurve">idCurve</label>
                <div class="col-sm-10">
                    <input class="col-4" id="idCurve" min="0.0" placeholder="idCurve" required step="1"
                           th:field="*{idCurve}" type="number">
                    <p class="text-danger" th:errors="*{idCurve}" th:if="${#fields.hasErrors('idCurve')}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="term">term</label>
                <div class="col-sm-10">
                    <input class="col-4" id="term" min="0.0" placeholder="term" required step="0.01" th:field="*{term}"
                           type="number">
                    <p class="text-danger" th:errors="*{term}" th:if="${#fields.hasErrors('term')}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="value">value</label>
                <div class="col-sm-10">
                    <input class="col-4" id="value" min="0.0" placeholder="value" required step="0.01"
                           th:field="*{value}"
                           type="number">
                    <p class="text-danger" th:errors="*{value}" th:if="${#fields.hasErrors('value')}"></p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <input th:field="*{curveId}" type="hidden">
                    <a class="btn btn-danger btn-sm" href="/curvePoint/list">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Update CurvePoint">
                </div>
            </div>


        </form>
    </div>

</div>
</body>
</html>