<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row"><h2>Trade List</h2></div>
    <div class="row">
        <a class="btn btn-primary btn-sm" href="/trade/add">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Buy Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!--  Show all Trade to the table, the Action column will have Edit & Delete buttons -->
            <tr th:each="trade: ${tradelist}">
                <td><span th:text="${trade.getTradeId()}"> Id </span></td>
                <td><span th:text="${trade.getAccount()}"> Account </span></td>
                <td><span th:text="${trade.getType()}"> Type </span></td>
                <td><span th:text="${trade.getBuyQuantity()}"> Buy Quantity </span></td>
                <!-- the Action column will have Edit & Delete buttons -->
                <td class="text-center" style="width: 15%">
                    <a th:href="@{/trade/update/{id}(id=${trade.getTradeId()})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/trade/delete/{id}(id=${trade.getTradeId()})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>