<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row"><h2>Rule List</h2></div>
    <div class="row">
        <a class="btn btn-primary btn-sm" href="/ruleName/add">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>json</th>
                <th>template</th>
                <th>sql</th>
                <th>sqlPart</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- Show all RuleName to the table, the Action column will have Edit & Delete buttons -->
            <tr th:each="rule: ${ruleNamelist}">
                <td><span th:text="${rule.getRuleNameId()}"> Id </span></td>
                <td><span th:text="${rule.getName()}"> Name </span></td>
                <td><span th:text="${rule.getDescription()}"> Description </span></td>
                <td><span th:text="${rule.getJson()}"> Json </span></td>
                <td><span th:text="${rule.getTemplate()}"> Template </span></td>
                <td><span th:text="${rule.getSqlStr()}"> SqlStr </span></td>
                <td><span th:text="${rule.getSqlPart()}"> SqlPart </span></td>
                <!-- the Action column will have Edit & Delete buttons -->
                <td class="text-center" style="width: 15%">
                    <a th:href="@{/ruleName/update/{id}(id=${rule.getRuleNameId()})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/ruleName/delete/{id}(id=${rule.getRuleNameId()})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>